<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="auth.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-form-container">
      <i class="fas fa-times" id="form-close"></i>

      <form action="/email" method="post">
        <h3>Enter your email</h3>

        <input
          type="email"
          class="box active"
          name="email"
          placeholder="enter your email"
        />

        <input type="submit" class="btn" />
      </form>
    </div>
  </body>
</html>
