<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="foot.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Your Buddy Tutors</h1>

        <h2>Contact</h2>

        <address>
          5534 Somewhere In. The World 22193-10212<br />

          <a class="footer__btn" href="mailto:yourbuddytutors@gmail.com"
            >Email Us</a
          >
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Home</a>
            </li>

            <li>
              <a href="./All-Course.html">Courses</a>
            </li>

            <li>
              <a href="./All-Course.html">Categories</a>
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Technology</h2>

          <ul class="nav__ul nav__ul--extra">
            <li>
              <a href="#">About Us</a>
            </li>

            <li>
              <a href="#">Contact Us</a>
            </li>

            <li>
              <a href="#instructors_sec">Instructors</a>
            </li>

            <li>
              <a href="#">Html</a>
            </li>

            <li>
              <a href="#">CSS</a>
            </li>

            <li>
              <a href="#">JS</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Copyright</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2024 Your Buddy Private Limited | All rights reserved.</p>

        <div class="legal__links">
          <span>Made with <span class="heart">♥</span> Section v</span>
        </div>
      </div>
    </footer>
  </body>
</html>
